header{
    font-size: 50px;
}
body{
    background-color: #6f00ff;
    font-size: 50px;
    text-align: center;
    font-family: helvetica;

}
main{
border-radius: 10px;
background-color: rgb(28, 6, 37);
padding: 10px;
margin: 10px;
width: 97%;
text-align: right;
}
section{
    font-size: 40px;
    color: rgb(86, 60, 182);
    font-style: italic;
}
h6{
    color: white;
    font-size: 20px;
    
}
button{
    color: black;
    font-color: white;
}

