    body{
        background-color: #a205b194;
}
    body{
        text-align: center;
    }
    body{
        text-color: rgb(255, 255, 255);
    }
    body{
        font-family: helvetica;
    }
    body{
        font-size: 50px;
    }
    body{
        text-shadow: rgb(0, 0, 0);
    }
    
    section{
        border-radius: 10px;
    }
    section{
        border-color: black;
    }
